{% extends 'baseAdmin.html.twig' %}
{%  block title %}Prestations - Artetech{% endblock %}
{% block body %}
    <div class="container container-home-dashboard">
        <div class="row">
            <h1 class="title">Alle Gepresteerde Uren!</h1>
        </div>
        <div class="row">
            <div class="col-lg-10 col-sm-12 card-collection">
                <div class="header-card-collection">
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <p class="header-text">Klant</p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <p class="header-text">Werknemer</p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <p class="header-text">Datum</p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <p class="header-text">Prijs</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <p class="header-text">Acties</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-card-collection">
                    {% for record in recordProjects %}
                        <div class="row body-card-item-container">
                            <div class="col-2">
                                <div class="row">
                                    <p class="body-text">{{ clientNames[record.id] }}</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <p class="body-text">{{ employeeNames[record.id] }}</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <p class="body-text">{{ record.date|date('Y-m-d') }}</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <p class="body-text">{{ 'EUR'|currency_symbol }} {{ prices[record.id] }}</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <a href="{{ asset("admin/prestations/detail/#{record.id}") }}">
                                        <button class="btn btn-view">
                                            <i class="fa fa-eye icon"></i> Bekijk
                                        </button>
                                    </a>
                                    <a href="{{ path('app_prestations_delete', {'id': record.id}) }}">
                                        <button class="btn btn-delete">
                                            <i class="fa fa-trash icon"></i> Delete
                                        </button>
                                    </a>
                                    <a href="{{ asset("admin/period/create/#{recordTerm.id}/project/#{record.id}") }}">
                                        <button class="btn btn-edit">
                                            <i class="fa fa-edit icon"></i> edit
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="navigation navigation-container">
                {{ knp_pagination_render(records) }}
            </div>
        </div>
    </div>
{% endblock %}