{% extends 'base.html.twig' %}
{%  block title %}{{ title }}{% endblock %}
{% block sideNav %}
    <div id="mySidenav" class="sidenav sideNavClient">
        {% for period in periodes %}
            <a href="{{ path('pages.detail', {'id': period.id}) }}">{{ period.startTime|date('Y/m/d') }} - {{ period.endTime|date('Y/m/d') }}</a>
        {% endfor %}
    </div>
{% endblock %}
{% block body %}
    <div class="container container-home-dashboard">
        <div class="row">
            <h1 class="title">Periode: {{ recordTerm.startTime|date('Y/m/d') }} - {{ recordTerm.endTime|date('Y/m/d') }}</h1>
        </div>
        <div class="row justify-content-flex-start">
            <div class="col-10 offset-1">
                <h3 class="body-title">Gegevens</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-sm-12 card-collection">
                <div class="body-card-collection">
                    <div class="row justify-content-flex-start">
                        <div class="col body-card-container">
                            <p><span style="color: #029875" >Klant:</span> {{ recordClient.name }}</p>
                            <p> <span style="color: #029875" >Email:</span> {{ recordClient.email }}</p>
                            <p><span style="color: #029875" >Start datum:</span> {{ recordTerm.startTime|date('Y-m-d') }}</p>
                            <p> <span style="color: #029875" >Eind datum:</span> {{ recordTerm.endTime|date('Y-m-d') }}</p>
                            <p><span style="color: #029875" >Kost Werknemer per uur:</span> {{ recordClient.hourCost }}</p>
                            <p> <span style="color: #029875" >Kost transport per km:</span> {{ recordClient.transportCost }}</p>
                            <p> <span style="color: #029875" >Totale kost prijs van deze periode:</span> {{ 'EUR'|currency_symbol }} {{ totalCostTerm }}</p>
                            <p> <span style="color: #029875" >Geaccepteerd door klant:</span>
                                {% if (recordTerm.accepted) %}
                                    <i style="color:#029875" class="fa fa-check icon"></i>
                                {% else %}
                                    <i style="color:#ed2b33" class="fa fa-times icon"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 50px;" class="row justify-content-flex-start">
            <div class="col-9 offset-1">
                <h3 class="body-title">Alle gepresteerde uren</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-sm-12 card-collection">
                <div class="header-card-collection">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <p class="header-text">Werknemer</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <p class="header-text">Tijd gewerkt</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <p class="header-text">Datum</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <p class="header-text">Prijs</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-card-collection">
                    {% for record in recordProjects %}
                        <div class="row body-card-item-container">
                            <div class="col-3">
                                <div class="row">
                                    <p class="body-text">{{ employeeNames[record.id] }}</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <p class="body-text">{{ timeWorked[record.id]|date("%H:%I") }}</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <p class="body-text">{{ record.date|date('Y-m-d') }}</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    {% if(prices[record.id]) %}
                                        <p class="body-text">{{ 'EUR'|currency_symbol }} {{ prices[record.id] }}</p>
                                    {% else %}
                                        <p class="body-text">{{ 'EUR'|currency_symbol }} 0</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="margin-top: 50px;" class="row justify-content-flex-start">
            <div class="col-10 offset-1">
                <h3 class="body-title">Opmerkingen</h3>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': ' form'}}) }}
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 button-container">
                {{ form_row(form.save, { 'attr': {'class' : 'btn button-create create-button-container my-2 my-sm-0'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% if(recordComments) %}
        <div class="row">
            <div class="col-lg-10 col-sm-12">
                <div class="body-card-collection">
                    <div class="row justify-content-flex-start">
                        <div class="col body-card-container">
                            {% for comment in recordComments %}
                            <p><span style="color: #029875" >Opmerking:</span> {{ comment.comment }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-10">
            {% if(recordTerm.accepted) %}
                <a href="{{ path('pages.unAccept', {'id': recordTerm.id}) }}">
                    <button style="background-color:#ed2b33" class="btn btn-accept">Keur periode af</button>
                </a>
            {% else %}
                <a href="{{ path('pages.accept', {'id': recordTerm.id}) }}">
                    <button class="btn btn-accept">Keur periode goed</button>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}