{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block body %}
    <div class="container container-home-dashboard">
        <div class="row">
            <h1 class="title">Maak nieuwe klant aan!</h1>
        </div>
        {{ form_start(registrationForm, {'attr': {'class': 'addForm form'}}) }}
        <div class="row form-start">
            <div class="col-10">
                <div class="form-group">
                    {{ form_label(registrationForm.name, 'Naam') }}
                    {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    {{ form_label(registrationForm.email, 'Email') }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, 'Paswoord') }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
            {{ form_row(registrationForm.agreeTerms) }}
            </div>
        </div>
        <div class="row">
            <div class="col-10 button-container">
                {{ form_row(registrationForm.save, { 'attr': {'class' : 'btn button-create create-button-container my-2 my-sm-0', 'checked': 'checked'}}) }}
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
